@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.cdnfonts.com/css/pt-root-ui");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Root UI", sans-serif;
}

.container {
  min-width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin: 0 auto;
  max-width: 1000px;
}

.samsung-mobile p {
  display: none;
}

.header p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  opacity: 70%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 7px 25px 4px;
}

.header-logo__wrapper {
  display: flex;
  align-items: center;
}

.header-logo__wrapper p {
  margin-left: 6px;
}

.header-menu__wrapper button {
  display: flex;
  background-color: transparent;
  border: 0;
}

.header__logo {
  margin-right: 20px;
}

.header__logo:last-child {
  margin-right: 0;
}

.header__menu {
  width: 32;
  height: 32;
}

.progress-bar {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
.progress-bar::before {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: var(--fill-percent);
  background-color: #D70E2A;
}

.main {
  padding: 0 25px;
}

.main h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 35px;
  margin-bottom: 40px;
}

.main__design {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.main__design h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  width: 100%;
  margin-bottom: 54px;
}

.main__design-card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; /* Элементы распределяются по всей ширине */
  list-style-type: none;
  margin-bottom: 60px;
}

.main__design-card-list ul {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
}

.infinity-wrapper {
  width: 222px;
  height: 304px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #171717;
}

.colours-wrapper,
.samsung-wrapper,
.gorrilla-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 223px;
}

.infinity-wrapper p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #FFFFFF;
  width: 189px;
}

.samsung-wrapper p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  color: #000000;
  padding-top: 20px;
}

.colours-wrapper p,
.gorrilla-wrapper p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}

.infinity-wrapper img,
.samsung-wrapper img,
.colours-wrapper img,
.gorrilla-wrapper img {
  height: auto;
  margin-bottom: 20px;
}

.video {
  display: none;
}

.main__scanner {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 39px;
}

.main__scanner h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 50px;
}

.main__scanner img {
  height: 248px;
}

.main__scanner-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.main__scanner-card-list {
  list-style-type: none;
  margin-left: 20px;
}

.main__scanner-card-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.main__scanner-card-item img {
  width: 60px;
  height: 60px;
}

.main__scanner-card-list p {
  width: 343px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 40px;
}

.main__accessories {
  margin-top: 100px;
  margin-bottom: 60px;
}

.main__accessories h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 50px;
}

.main__accessories-card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style-type: none;
  column-gap: 20px;
}

.main__accessories-card-list ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 20px;
}

.main__accessories-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__accessories-card-list p {
  width: 220px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.main-divider {
  position: relative;
  height: 1px;
  width: 222px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 25px 0 20px 0;
}

.main-divider.filled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 20%;
  background-color: #000000;
  z-index: -1;
}

.main__applications_services {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 40px;
  padding-bottom: 100px;
}

.main__applications_services h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 50px;
}

.main__applications_services-card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style-type: none;
  column-gap: 20px;
}

.main__applications_services-card-item {
  width: 303px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__applications_services-card-item img {
  padding-bottom: 20px;
}

.main__applications_services-card-list p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 720px) {
  header {
    margin-bottom: 40px;
  }
  .progress-bar {
    display: block;
  }
}
@media (max-width: 320px) {
  .header {
    margin-bottom: 30px;
  }
  .header__wrapper {
    padding: 12px 15px 12px;
  }
  .samsung-mobile {
    background: #EFEFEF;
    display: block;
    padding: 5px 15px;
  }
  .samsung-mobile p {
    display: block;
  }
  .progress-bar {
    display: none;
  }
  .header-logo__wrapper p {
    display: none;
  }
}
@media (max-width: 998px) and (min-width: 721px) {
  .container {
    max-width: 998px;
  }
  .main {
    padding: 0 15px;
  }
  .main__design h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .main__design-card-list {
    margin: 0;
  }
  .main__design-card-list ul {
    display: flex;
    list-style-type: none;
    column-gap: 20px;
  }
  .infinity-wrapper {
    padding-bottom: 25px;
    margin-right: 20px;
  }
  .samsung-wrapper {
    padding-bottom: 25px;
    margin-left: 20px;
    max-width: 223px;
  }
  .main__design-card-item p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .main__scanner {
    padding-top: 40px;
  }
  .scanner {
    display: none;
  }
  .video {
    display: block;
  }
  .main__scanner .video h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 51px;
  }
  .main__scanner-wrapper img {
    height: 173px;
  }
  .main__scanner-card-list {
    width: 325px;
  }
  .main__scanner-card-list p {
    width: 203px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .main__scanner-card-item {
    margin: 0;
  }
  .main__accessories {
    margin-top: 100px;
    margin-bottom: 60px;
  }
  .main__accessories-card-list {
    margin: 0;
    row-gap: 50px;
  }
  .main__accessories-card-item {
    width: 325px;
  }
  .main__accessories-card-item p {
    width: 325px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .main__accessories-card-item .main-divider {
    width: 325px;
  }
  .main__accessories-card-list ul {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }
  .main__accessories-card-list ul .main-divider {
    width: 325px;
    margin-top: 0;
  }
  .main__applications_services {
    padding-top: 40px;
  }
  .main__applications_services h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .main__applications_services-card-item {
    width: 210px;
  }
  .main__applications_services-card-list p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
}
@media (max-width: 720px) {
  .container {
    max-width: 720px;
  }
  .main {
    padding: 0 15px;
  }
  .main h1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .main__design h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .main__design-card-list {
    display: flex;
    justify-content: space-between;
    margin: 0px;
  }
  .main__design-card-list ul {
    display: flex;
    justify-content: space-between;
  }
  .infinity-wrapper {
    padding-bottom: 25px;
  }
  .infinity-wrapper img {
    max-width: 325px;
  }
  .infinity-wrapper p {
    max-width: 295px;
  }
  .samsung-wrapper p {
    width: 325px;
  }
  .main__design-card-item {
    width: 325px;
    margin-bottom: 50px;
  }
  .main__design-card-item p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .main__scanner {
    padding-top: 40px;
  }
  .scanner {
    display: none;
  }
  .video {
    display: block;
  }
  .main__scanner .video h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 51px;
  }
  .main__scanner-wrapper img {
    height: 173px;
  }
  .main__scanner-card-list {
    width: 325px;
  }
  .main__scanner-card-list p {
    width: 203px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .main__scanner-card-item {
    margin: 0;
  }
  .main__accessories {
    margin-top: 100px;
    margin-bottom: 60px;
  }
  .main__accessories-card-list {
    margin: 0;
    row-gap: 50px;
  }
  .main__accessories-card-item {
    width: 325px;
  }
  .main__accessories-card-item p {
    width: 325px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .main__accessories-card-item .main-divider {
    width: 325px;
  }
  .main__accessories-card-list ul {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }
  .main__accessories-card-list ul .main-divider {
    width: 325px;
    margin-top: 0;
  }
  .main__applications_services {
    padding-top: 40px;
  }
  .main__applications_services h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .main__applications_services-card-item {
    width: 210px;
  }
  .main__applications_services-card-list p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
}
@media (max-width: 700px) and (min-width: 321px) {
  .container {
    max-width: 700px;
  }
  .main__design {
    padding-top: 20px;
    margin: 0;
  }
  .main h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .main__design-card-list {
    margin: 0;
  }
  .main__design h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 20px;
  }
  .main__design-card-list ul {
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 7px;
  }
  .main__design-card-list ul .gorrilla-wrapper,
  .main__design-card-list ul .colours-wrapper {
    order: 2;
  }
  .infinity-wrapper,
  .samsung-wrapper {
    overflow: hidden;
    margin: 0 auto;
  }
  .infinity-wrapper p,
  .samsung-wrapper p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .infinity-wrapper {
    margin-bottom: 50px;
  }
  .infinity-wrapper p {
    margin-top: 20px;
    width: 100%;
  }
  .gorrilla-wrapper p,
  .colours-wrapper p {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
  }
  .colours-wrapper {
    margin-right: 0;
  }
  .samsung-wrapper {
    order: 3;
    margin-bottom: 60px;
    width: calc(100% - 30px);
    overflow: hidden;
  }
  .main__design-card-item img {
    height: auto;
    margin-bottom: 10px;
  }
  .main__scanner {
    padding-top: 20px;
  }
  .video {
    display: block;
  }
  .main__scanner .video h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
  }
  .main__scanner-wrapper {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
  }
  .main__scanner-card-list {
    margin: 0;
  }
  .main__scanner-wrapper img {
    max-width: 320px;
    padding: 0;
    margin-bottom: 40px;
  }
  .main__scanner-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .main__scanner-card-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  .main__accessories {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .main__accessories h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
  }
  .main__accessories-card-item {
    margin-bottom: 20px;
    flex: 1;
  }
  .main__accessories-card-item p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .main__accessories-card-list ul {
    display: flex;
    justify-content: space-between;
    column-gap: 7px;
    padding: 0;
    margin: 0;
  }
  .main__accessories-card-list ul li:last-child {
    margin-bottom: 0;
  }
  .main__accessories-card-list ul .main__accessories-card-item {
    flex: 1;
  }
  .main__accessories-card-list ul .main__accessories-card-item .main-divider {
    max-width: 290px;
  }
  .main__accessories-card-list ul .main__accessories-card-item p {
    max-width: 290px;
  }
  .main__applications_services {
    padding-top: 20px;
  }
  .main__applications_services h2 {
    margin-bottom: 30px;
  }
  .main__applications_services-card-list {
    row-gap: 20px;
  }
  .main__applications_services-card-item {
    width: 300px;
  }
  .main__applications_services-card-list p {
    width: 265px;
  }
}
@media (max-width: 650px) and (min-width: 321px) {
  .main__applications_services h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 30px;
  }
  .main__applications_services-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__applications_services-card-list p {
    max-width: 350px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
  .main__design {
    padding-top: 20px;
    margin: 0;
  }
  .main h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .main__design-card-list {
    margin: 0;
  }
  .main__design h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 20px;
  }
  .main__design-card-list ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 7px;
  }
  .main__design-card-list ul .gorrilla-wrapper,
  .main__design-card-list ul .colours-wrapper {
    max-width: 141px;
    order: 2;
  }
  .infinity-wrapper,
  .samsung-wrapper {
    width: 100%;
    max-width: 290px;
  }
  .infinity-wrapper p,
  .samsung-wrapper p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    max-width: 290px;
  }
  .infinity-wrapper p {
    width: 260px;
    margin-top: 20px;
  }
  .gorrilla-wrapper p,
  .colours-wrapper p {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
  }
  .colours-wrapper {
    margin-right: 0;
  }
  .samsung-wrapper {
    order: 3;
  }
  .main__design-card-item img {
    height: auto;
    margin-bottom: 10px;
  }
  .main__scanner {
    padding-top: 20px;
  }
  .video {
    display: block;
  }
  .main__scanner .video h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
    margin: 0;
  }
  .main__scanner-wrapper {
    flex-direction: column;
    margin-top: 30px;
  }
  .main__scanner-wrapper img {
    width: 320px;
    height: 170px;
    padding: 0;
    position: relative;
    left: -15px;
    margin-bottom: 40px;
  }
  .main__scanner-card-list {
    margin: 0;
  }
  .main__scanner-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    width: 285px;
  }
  .main__scanner-card-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  .main__scanner-card-item p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    width: 100%;
    margin: 0;
  }
  .main__accessories {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .main__accessories h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 30px;
  }
  .main__accessories-card-list {
    gap: 0;
  }
  .main__accessories-card-item {
    width: 290px;
    margin-bottom: 40px;
    flex: 1;
  }
  .main__accessories-card-item p {
    width: 290px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .main__accessories-card-item .main-divider {
    width: 290px;
    margin-top: 0;
  }
  .main__accessories-card-list ul {
    display: flex;
    justify-content: space-between;
    column-gap: 7px;
    margin: 0;
  }
  .main__accessories-card-list ul .main__accessories-card-item {
    width: 141px;
    list-style: none;
    margin-bottom: 0;
  }
  .main__accessories-card-list ul .main__accessories-card-item .main-divider {
    width: 141px;
  }
  .main__accessories-card-list ul .main__accessories-card-item p {
    width: 141px;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
  }
  .main__applications_services {
    padding-top: 20px;
    padding-bottom: 104px;
  }
  .main__applications_services h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 30px;
  }
  .main__applications_services-card-list {
    display: flex;
    flex-direction: column;
  }
  .main__applications_services-card-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
    padding: 30px 0px 30px 0px;
  }
  .main__applications_services-card-item:nth-child(odd) {
    flex-direction: row;
  }
  .main__applications_services-card-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .main__applications_services-card-item:nth-child(n+2) {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }
  .main__applications_services-card-item img {
    width: 60px;
  }
  .main__applications_services-card-item p {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    width: 205px;
  }
}